/* Main styles file */
body{
	background:#efefef;
}

.panel{
	border:#ccc 1px solid;
	box-shadow:rgba(0,0,0,0.05) 0 0 0 4px;
	padding:19px;
}
.well{
	border:#ccc 1px solid;
	box-shadow:rgba(0,0,0,0.05) 0 0 0 4px;
	background:#222;
	color:#efefef;
}
#simulador{
	position:relative;
	text-align:center;
	height:500px;
	overflow:hidden;
}
.layer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;
}
#comentarios{
	height:255px;
	overflow:auto;
}
#palancas{
	text-align:center;
}
#palancas i{
	font-size:2.5em;
}